* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 200ms;
}
/* Denne er her for å fjerne base styling fra knappen */
.menuBtn {
  border: 0;
  background: 0;
  z-index: 99;
}
.menuBtnDark {
  filter: invert(100%);
}
/* Template 3 styling */

.template3Body {
  display: grid;
  place-content: center;
  position: relative;
  background-color: #486b38;
}
.template3Header {
  display: flex;
  width: 80rem;
  padding: 4rem 0;
}
.template3HeaderText {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-size: 4rem;
  color: #f2edcf;
}
.template3headerImageContainer {
  margin-right: auto;
}
.template3mainImage {
  max-height: 100vh;
  position: absolute;
  aspect-ratio: auto;
  left: 0;
  top: 0;
  z-index: -1;
}

.template3Main {
  display: flex;
  margin: 4rem 0;
  padding: 4rem 2rem;
  border-width: 2rem;
  border-image-source: url("../Image/mainImage/BorderImage.png");
  border-image-slice: 25%;
  border-image-width: 6.5rem;
}
.template3mainTextContainer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 1.5rem;
  justify-content: space-around;
}
.template3SubText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f2edcf;
  font-weight: 600;
  line-height: 200%;
  font-size: 3rem;
}
.template3DescText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f2edcf;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
}
.template3buttonImage {
  border: 0;
  background: 0;
}

/* Template 2 layout */
.template2Body {
  display: grid;
  place-content: center;
  position: relative;
  background-color: #a3a1f9;
}
.template2Header {
  display: flex;
  width: 80rem;
  padding: 4rem 0;
}
.template2HeaderText {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-size: 4rem;
  color: #0c0b04;
}
.template2headerImageContainer {
  margin-right: auto;
}
.template2headerImageContainer img {
  border-radius: 10%;
  height: 5vh;
  width: 5vh;
}
.template2mainImage {
  max-height: 100vh;
  height: 60vh;
  margin: 0 100px 0 0;
  aspect-ratio: auto;
  left: 0;
  z-index: -1;
  border-radius: 5%;
}

.template2Main {
  display: flex;
  margin: 4rem 0;
  padding: 4rem 2rem;
  border-width: 2rem;
  justify-content: space-between;
  background-color: #9eff86;
  border-radius: 2%;
}
.template2mainTextContainer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-around;
}
.template2SubText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0c0b04;
  font-weight: 600;
  line-height: 200%;
  font-size: 3rem;
}
.template2DescText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0c0b04;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
}
.template2buttonImage {
  border: 0;
  background: 0;
}

.subMenu {
  display: none;
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f2edcf;
}
.showMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
